<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="user-image/{{userDetails._id}}.jpg" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{userDetails.Name}} </h5> 
            <p class="text-muted mb-1">{{userDetails.Email}}</p>
            <p class="text-muted mb-4"></p>
            <div class="d-flex justify-content-center mb-2">
                <a class="btn btn-primary" href="/edit-profile">EDIT PROFILE</a>
             
            </div>
          </div>
        </div>
      
      </div>
      
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.Name}}  <a href="/edit-profile"> <i class="fas fa-edit"></i> </a> </p> 
               
                
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.Email}}  <a href="/edit-profile"> <i class="fas fa-edit"></i> </a> </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Pincode</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.Pincode}}  <a href="/edit-profile"> <i class="fas fa-edit"></i> </a> </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.Mobile}}  <a href="/edit-profile"> <i class="fas fa-edit"></i> </a></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.Address}}   <a href="/edit-profile"> <i class="fas fa-edit"></i> </a> </p>
              </div>
              
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">State</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.State}}  <a href="/edit-profile"> <i class="fas fa-edit"></i> </a></p>
              </div>
            </div>
            
         
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>