
	<div class="cart-wrap">
		<div class="container">
	        <div class="row">
			    <div class="col-md-12">
			        <div class="main-heading mb-10">My wishlist</div>
			        <div class="table-wishlist">
				        <table cellpadding="0" cellspacing="0" border="0" width="100%">
				        	<thead>
					        	<tr>
					        		<th width="20%">Product </th>
					        		<th width="35%"> Name</th>
					        		
					        		<th width="35%">Add to Cart</th>
					        		<th width="10%"></th>
					        	</tr>
					        </thead>
					        <tbody>
                                {{#each products}}
					        	<tr>
					        		<td width="20%">
					        			<div class="display-flex align-center">
		                                    <div class="img-product">
		                                        <img src="/product-images/{{this.product._id}}1.jpg" alt="" class="mCS_img_loaded">
		                                    </div>
		                                    <div class="name-product">
		                                    {{products.Name}}
		                                    </div>
	                                    </div>
	                                </td>
					        		<td width="35%" class="name">{{this.product.Name}}</td>
					        		

					        		<td width="35%"><button  onclick="addToCart('{{this.product._id}}')" class="round-black-btn small-btn">Add to Cart</button></td>
					        		<td width="10%" class="text-center"><a onclick="removeCartItem('{{this._id}}','{{this.product._id}}')" class="trash-icon"><i class="far fa-trash-alt"></i></a></td>
					        	</tr>
					        	{{/each}}
					        
				        	</tbody>
                           
				        </table>
                        
				    </div>
                    
			    </div>
                
			</div>
             <a class="mr-auto" style="color: black;" href="/cart" >Go to Cart <i class="fas fa-arrow-right"></i></a>
		</div>
	</div>
	









    <script>
        
  function removeCartItem(wishlist,proId){
    
 $.ajax({
      url:'/remove-wishlist-products',
      
      data:{
        wishlist:wishlist,
        product:proId,
         
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert("product removed from list")
          location.reload()
        }
        
      }    
    })

  }
    </script>